@model IEnumerable<PayAndPlay.Models.Musica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custo)
            </td>
            <td>
                    @* // fiquei aqui, fazer com que apenas apareca os botoes para o admin *@
                    @{
                        if (Context.Session.GetString("UTILIZADOR") != "" && Context.Session.GetString("UTILIZADOR") != null && Context.Session.GetString("ADMIN") == "true" && Context.Session.GetString("PERFIL") == "3")
                        {
                           <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a> 
                           <a asp-action="Details" asp-route-id="@item.Id">Details |</a> 
                           <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           
                        }
                    }
            </td>
        </tr>
            
}
    </tbody>
</table>
