@using System.Globalization
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>Profile</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>

<body style ="background: url('/Pictures/bgDJRegLog.jpg') no-repeat;background-size: cover;">
    <div class="container" style="padding-top: 70px;">
        <div class="row">
            <div class="col">
                <div></div>
                <p style="font-size: 35px;color: var(--bs-secondary-bg);font-weight: bold;">PERFIL DE @Context.Session.GetString("UTILIZADOR")</p>
            </div>
            <div class="col-md-12 col-xl-2">
                <div>
                    <p style="color: var(--bs-secondary-bg);font-weight: bold;">Saldo: @ViewBag.SALDO</p>
                    <div><button class="btn btn-primary" type="button" style="color: var(--bs-btn-color);background: var(--bs-success);border-radius: 15px;margin-left: 42px;">Levantar</button></div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 116px;">
            <div class="col-md-6" style="padding-top: 0px;">
                <div></div>
                <p style="font-size: 50px;color: var(--bs-secondary-bg);font-weight: bold;">LISTAGENS</p>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="form-check">
                        <form method="post" action="@Url.Action("Index", "PerfilDJ")">
                            <div class="form-check">
                                @Html.RadioButton("rbtEscolha", 1, ViewBag.RBTESCOLHA == 1, new { onclick = "this.form.submit()" })
                                <label style="font-size: 20px;color: var(--bs-secondary-bg);font-weight: bold;">Ganhos Por Mês</label>
                            </div>
                            <div class="form-check">
                                @Html.RadioButton("rbtEscolha", 2, ViewBag.RBTESCOLHA == 2, new { onclick = "this.form.submit()" })
                                <label style="font-size: 20px;color: var(--bs-secondary-bg);font-weight: bold;">Ganhos Por Periodo</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                @{
                    @if (ViewBag.MESES == true)
                    {
                        <form method="post" action="@Url.Action("MostrarGanhosMes", "PerfilDJ")">
                                <label style="font-size: 20px;color: var(--bs-secondary-bg);font-weight: bold;" for="month">Selecione Mês:</label>
                            <br />
                            <select id="month" name="month" onchange="this.form.submit()">
                                @for (Int16 i = 0; i < 12; i++)
                                {
                                    if (ViewBag.month == i)
                                    {
                                        <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                }
                            </select>
                        </form>
                    }
                    else if (ViewBag.PERIODO == true)
                    {
                        <form method="post" action="@Url.Action("MostrarGanhosPeriodo", "PerfilDJ")">
                            <label style="font-size: 20px;color: var(--bs-secondary-bg);font-weight: bold;" for="monthBegin">Selecione o Mês Inicial:</label>
                            <br />
                            <select id="monthBegin" name="monthBegin">
                                @for (Int16 i = 0; i < 12; i++)
                                {
                                    if (ViewBag.monthBegin == i)
                                    {
                                        <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                }
                            </select>
                            <br />
                            <label for="monthEnd">Selecione o Mês Final:</label>
                            <br />
                            <select id="monthEnd" name="monthEnd">
                                @for (Int16 i = 0; i < 12; i++)
                                {
                                    if (ViewBag.monthEnd == i)
                                    {
                                        <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                                    }
                                }
                            </select>
                            <div class="form-group">
                                <input type="submit" value="Procurar" class="btn btn-primary" />
                            </div>
                        </form>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group" id="Listagem">
                    <li class="list-group-item">
                        Musica Mais Pedida : @ViewBag.MUSICAMAISPEDIDAS
                    </li>
                    <li class="list-group-item">
                        Musica Menos Pedida : @ViewBag.MUSICAMENOSPEDIDAS
                    </li>
                    <li class="list-group-item">
                        Utilizador Com Mais Pedida : @ViewBag.UTILIZADORMAISPEDIDOS
                    </li>
                    <li class="list-group-item">
                        Utilizador Com Menos Pedida : @ViewBag.UTILIZADORMENOSPEDIDOS
                    </li>
                    <li class="list-group-item">
                        Utilizador com Mais Gastos : @ViewBag.UTILIZADORMAISGASTOS
                    </li>
                    <li class="list-group-item">
                        Utilizador com Menos Gastos : @ViewBag.UTILIZADORMENOSGASTOS
                    </li>
                </ul>
            </div>
            <div class="col">
                @if (ViewBag.GANHOSMES != null)
                {
                    <canvas id="MonthChart" style=" background-color: white;"></canvas>
                }
                else if (ViewBag.GANHOSPERIODO != null)
                {
                    <canvas id="PeriodChart" style=" background-color: white;"></canvas>
                }
            </div>
        </div>
    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('MonthChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Ganhos do Mês'],
                datasets: [{
                    label: 'Total Ganhos',
                    data: [@ViewBag.GANHOSMES],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('PeriodChart').getContext('2d');
        @if (ViewBag.GANHOSPERIODO != null)
        {
            <text>
                    var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: @Html.Raw(Json.Serialize(ViewBag.GANHOSPERIODO.Keys)),
                        datasets: [{
                            label: 'Winnings',
                            data: @Html.Raw(Json.Serialize(ViewBag.GANHOSPERIODO.Values)),
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </text>
        }
    </script>
    </body>
</html>
    

