
@using System.Globalization
<h1>Perfil de @Context.Session.GetString("UTILIZADOR")</h1> @*criar botao de gerar qrcode*@
<span>Saldo: @ViewBag.SALDO                     <button type="submit" id="btnGerarQR" name="btnGerarQR">Gerar QrCode</button></span>
<div>
    <h2>LISTAGENS</h2>
    <form method="post" action="@Url.Action("Index", "PerfilDJ")">
        @Html.RadioButton("rbtEscolha", 1, ViewBag.RBTESCOLHA == 1, new { onclick = "this.form.submit()" }) <label>Ganhos Por Mês</label>
        @Html.RadioButton("rbtEscolha", 2, ViewBag.RBTESCOLHA == 2, new { onclick = "this.form.submit()" }) <label>Ganhos Por Periodo</label>

    </form>

    @{
        @if (ViewBag.MESES == true)
        {
            <form method="post" action="@Url.Action("MostrarGanhosMes", "PerfilDJ")">
                <label for="month">Selecione Mês:</label>
                <br />
                <select id="month" name="month" onchange="this.form.submit()">
                    @for (Int16 i = 0; i < 12; i++)
                    {
                        if (ViewBag.month == i)
                        {
                            <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                        else
                        {
                            <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                    }
                </select>
            </form>
        }
        else if (ViewBag.PERIODO == true)
        {
            <form method="post" action="@Url.Action("MostrarGanhosPeriodo", "PerfilDJ")">
                <label for="monthBegin">Selecione o Mês Inicial:</label>
                <br />
                <select id="monthBegin" name="monthBegin">
                    @for (Int16 i = 0; i < 12; i++)
                    {
                        if (ViewBag.monthBegin == i)
                        {
                            <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                        else
                        {
                            <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                    }
                </select>
                <br />
                <label for="monthEnd">Selecione o Mês Final:</label>
                <br />
                <select id="monthEnd" name="monthEnd">
                    @for (Int16 i = 0; i < 12; i++)
                    {
                        if (ViewBag.monthEnd == i)
                        {
                            <option value="@i" selected>@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                        else
                        {
                            <option value="@i">@DateTimeFormatInfo.InvariantInfo.MonthNames[i]</option>
                        }
                    }
                </select>
                <div class="form-group">
                    <input type="submit" value="Procurar" class="btn btn-primary" />
                </div>
            </form>
        }

}
@{

    @if (ViewBag.GANHOSMES != null){
            <canvas id="MonthChart"></canvas>
            <ul class="list-group">
             <li class="list-group-item">
                Musica Mais Pedida : @ViewBag.MUSICAMAISPEDIDAS
            </li>
            <li class="list-group-item">
                Musica Menos Pedida : @ViewBag.MUSICAMENOSPEDIDAS
            </li>
            <li class="list-group-item">
                Utilizador Com Mais Pedida : @ViewBag.UTILIZADORMAISPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador Com Menos Pedida : @ViewBag.UTILIZADORMENOSPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador com Mais Gastos : @ViewBag.UTILIZADORMAISGASTOS
            </li>
            <li class="list-group-item">
                Utilizador com Menos Gastos : @ViewBag.UTILIZADORMENOSGASTOS
            </li>
            </ul>

        }else if (ViewBag.GANHOSPERIODO != null)
        {
            <canvas id="PeriodChart"></canvas>
        <ul class="list-group">
            <li class="list-group-item">
                Musica Mais Pedida : @ViewBag.MUSICAMAISPEDIDAS
            </li>
            <li class="list-group-item">
                Musica Menos Pedida : @ViewBag.MUSICAMENOSPEDIDAS
            </li>
            <li class="list-group-item">
                Utilizador Com Mais Pedida : @ViewBag.UTILIZADORMAISPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador Com Menos Pedida : @ViewBag.UTILIZADORMENOSPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador com Mais Gastos : @ViewBag.UTILIZADORMAISGASTOS
            </li>
            <li class="list-group-item">
                Utilizador com Menos Gastos : @ViewBag.UTILIZADORMENOSGASTOS
            </li>
        </ul>
        }
        else{
        <ul class="list-group">
            <li class="list-group-item">
                Musica Mais Pedida : @ViewBag.MUSICAMAISPEDIDAS
            </li>
            <li class="list-group-item">
                Musica Menos Pedida : @ViewBag.MUSICAMENOSPEDIDAS
            </li>
            <li class="list-group-item">
                Utilizador Com Mais Pedida : @ViewBag.UTILIZADORMAISPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador Com Menos Pedida : @ViewBag.UTILIZADORMENOSPEDIDOS
            </li>
            <li class="list-group-item">
                Utilizador com Mais Gastos : @ViewBag.UTILIZADORMAISGASTOS
            </li>
            <li class="list-group-item">
                Utilizador com Menos Gastos : @ViewBag.UTILIZADORMENOSGASTOS
            </li>
        </ul>
        }
}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('MonthChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Ganhos do Mês'],
                datasets: [{
                    label: 'Total Ganhos',
                    data: [@ViewBag.GANHOSMES],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('PeriodChart').getContext('2d');
        @if (ViewBag.GANHOSPERIODO != null)
        {
            <text>
                    var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: @Html.Raw(Json.Serialize(ViewBag.GANHOSPERIODO.Keys)),
                        datasets: [{
                            label: 'Winnings',
                            data: @Html.Raw(Json.Serialize(ViewBag.GANHOSPERIODO.Values)),
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            </text>
        }
    </script>

