@model IEnumerable<PayAndPlay.Models.Utilizador>
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">>
</head>

<body style="background: url('/Pictures/bgHome.jpg'); no-repeat;background-size: cover;">
    <div class="container" style="padding-top: 70px;">
        @{
            Html.RenderPartial("_Alert");
        }
        <div class="row">
            <div class="col-md-12 offset-xl-0">
                <div>
                    <p style="color: var(--bs-secondary-bg);font-weight: bold;font-size: 40px;text-align: center;">UTILIZADORES</p>
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.confirmPassword)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Is_Admin)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Perfil)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Password)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.confirmPassword)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Is_Admin)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Perfil.Tipo_Perfil)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
